<div class="container mt-1">
  <div class="row ms-1">
        <!-- Authors Card -->
        <div class="card me-3 mb-2" style="width: 15rem;">
          <div class="card-body">
              <h5 class="card-title">
                  <span class="text-primary" href="#" id="pubs-home-editors-card-title">
                      <i class="fas fa-feather-alt fa-lg me-3" id="pubs-home-editors-card-icon"></i>
                      <span>Authors</span>
                  </span>
              </h5>
              <p class="card-text"> </p>
              <!-- <a [routerLink]= "['/editors/authors']" class="stretched-link"></a> -->
              <a class="stretched-link"></a>
          </div>
      </div>
  </div>
</div>
