<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>

  <RunConfiguration>
    <!-- List of environment variables we want to set-->
    <EnvironmentVariables>

    </EnvironmentVariables>
  </RunConfiguration>

  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage"
                     uri="datacollector://Microsoft/CodeCoverage/2.0"
                     assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\Pubs.Application.dll</ModulePath>
                <ModulePath>.*\Pubs.CoreDomain.dll</ModulePath>
                <ModulePath>.*\Pubs.SharedKernel.dll</ModulePath>
                <ModulePath>.*\Pubs.Infrastructure.Persistence.dll</ModulePath>
                <ModulePath>.*\Pubs.Infrastructure.Services.dll</ModulePath>
                <ModulePath>.*\Pubs.UI.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*\.tests.dll</ModulePath>
                <ModulePath>Pubs.IntegrationTests.dll</ModulePath>
                <ModulePath>Pubs.SharedKernel.Tests.dll</ModulePath>
                <ModulePath>Pubs.UnitTests.dll</ModulePath>
              </Exclude>
            </ModulePaths>
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
          </CodeCoverage>
        </Configuration>
      </DataCollector>

      <DataCollector friendlyName="blame" enabled="True">
      </DataCollector>

    </DataCollectors>
  </DataCollectionRunSettings>

  <!-- Configuration for loggers -->
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
      </Logger>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>PubsTestResults.trx</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFileName>PubsTestResults.html</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="blame" enabled="True" />
    </Loggers>
  </LoggerRunSettings>


</RunSettings>