<nav class="navbar sticky-top navbar-expand-lg navbar-custom navbar-dark" id="pubs-nav-bar"
  aria-label="Main Navigation">
  <div class="container-fluid">
    <a class="navbar-brand color-white" href="#" id="pubs-nav-bar-brand">
      <i class="fas fa-book-reader fa-lg" id="pubs-nav-bar-icon"></i>
      <span class="float-end ms-2">Pubs</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon" id="pubs-navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ps-2" id="pubs-nav-main-menu">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-feather-alt fa-lg me-2" id="pubs-sales-icon-editors"></i>
            <span>Editors</span>
          </a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-piggy-bank fa-lg me-2" id="pubs-sales-icon-sales"></i>
            <span>Sales</span>
          </a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-users fa-lg me-2" id="pubs-sales-icon-human-resources"></i>
            <span>HR</span>
          </a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-chart-line fa-lg me-2" id="pubs-sales-icon-reports"></i>
            <span>Reports</span>

          </a>
        </li>
        <li class="nav-item pe-2">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-cogs fa-lg me-2" id="pubs-sales-icon-admin"></i>
            <span>Admin</span>

          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto pe-1" id="pubs-nav-user-menu">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-ninja fa-lg me-2" id="pubs-user-dropdown-icon"></i>
            <span class="pubs-dropdown-leader">My UserName</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a href="#" class="dropdown-item">
                <i class="fa fa-user me-2"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-item">
                <i class="fa fa-sliders-h me-2"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a href="#" class="dropdown-item">
                <i class="fa fa-sign-out-alt me-2"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>


  </div>
</nav>