<br />
<br />

<div class="table-responsive">
  <table class="table mb-0" *ngIf="authors && authors.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Author Code</th>
        <th>Author Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td>
          <a [routerLink]="['/editors/author', author.authorId]">
            {{ author.authorId }}
          </a>
        </td>
        <td>{{ author.authorCode }}</td>
        <td>{{ author.name }}</td>
        <td>{{ author.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>
