<div class="card">

  <div class="card-body">
    <div class="table-responsive ">
      <table class="table table-striped table-hover align-middle mb-0" *ngIf="authors && authors.length">
        <thead>
          <tr class="table-primary">
            <th class="text-center">Author Code</th>
            <th class="text-center">Author Name</th>
            <th class="text-center">Phone</th>
            <th class="text-center">Under Contract?</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let author of authors">
            <td class="text-center">
              <a >
                {{ author.authorCode }}
              </a>
            </td>
            <td class="text-center">{{ author.name }}</td>
            <td class="text-center">{{ author.phoneNumber }}</td>
            <td class="text-center fw-bold" 
                [ngClass]="{'text-success' : author.contract== true, 'text-danger' : author.contract == false }" >
              {{ author.contract | yesNo }}
            </td>
            <td class="text-center">
              <span>
                <button class="btn btn-primary me-3" [routerLink]="['/editors/authors', author.id]">Details</button>
                
                <button class="btn btn-success" [routerLink]="['/editors/authors', author.id, 'edit']"> Edit  </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>